* {
	box-sizing: border-box;
}

body {
	margin: 0;
	color:  #46484a;
}

img {
	width: 100%;
}

header {
	width: 100%;
	background-color: #3d354e;
	color: #fff;
	padding: 220px 0;
}

.container {
	width: 1140px;
	margin: auto;
}

.logo {
	font-size: 70px;
	font-weight: 700;
	text-align: center;
}

.subtext {
	font-size: 16px;
	text-align: center;
}

.gray-section {
	background-color: #f7f6f8;
	padding: 120px 0;
}

.white-section {
	padding: 120px 0;
}

.gray-section .container, .white-section .container {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.desc {
	width: 570px;
	padding-right: 80px;
}

.desc h1 {
	font-size: 40px;
}

.desc p {
	font-size: 20px;
}

.device-img {
	width: 570px;
	text-align: center;
}

.phone {
	width: 50%;
}

.features {
	width: 375px;
	text-align: center;
}

.features h3 {
	font-size: 28px;
}

.features p {
	font-size: 24px;
}

.video {
	width: 900px;
	margin: auto;
	text-align: center;
}

.payment-section {
	padding: 120px 0;
	background-color: #f7f6f8;
	text-align:  center;
}

.payment-section h1 {
	font-size: 34px;
}

.payment-section p {
	font-size: 20px;
}

.payment {
	display: flex;
	justify-content: space-between;
}

.payment div {
	padding: 20px;
	width: 360px;
	background-color: #fff;
	transition: .3s;
}

.payment div:hover {
	background-color: #3d354e;
	color: #fff;
}

footer {
	background-color: #3d354e;
	color: #fff;
	text-align: center;
	padding: 50px; 
}